*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a{
    text-decoration: none;
  }
  
  ul, ol{
    list-style: none;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    color: $color-text;
    font-size: 16px;
  }

  .section{
    padding: 20px 0;
  }