.header{
    padding: 10px 0;
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__menu{
        display: flex;
        align-items: center;
        &-item{
            padding: 10px 30px;
            color: $text-color;
            font-size: 22px;
            font-weight: 600;
            display: flex;
            align-items: flex-end;
            transition: all .4s;
            &:hover{
                color: $theme-color;
            }
            &.active{
                color: $theme-color;
            }
        }
        &-icon{
            font-size: 25px;
            margin-right: 15px;
        }
    }
    &__logo{
        margin: 0 50px;
        img{
            max-width: 100px;
        }
    }
}