.auth-form{
    &__item{
        margin-bottom: 20px;
    }
    &__desc{
        font-size: 14px;
        text-align: center;
        a{
            color: $color-theme;
            margin-left: 10px;
            transform: all .3s;
            &:hover{
                color: darken($color-theme, 10%);
            }
        }
    }
}