.blog{
    &__item{
        
    }
    &__text{
        border-bottom: 2px solid $color-border;
        padding-bottom: 6px;
        font-size: 24px;
        display: flex;
        align-items: center;
        svg{
            margin-top: -15px;
        }
    }
    
    &__sub{
        padding: 10px 0;
    }
    &__sub-item{
        position: relative;
        padding: 8px 5px 8px 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all .4s;
        &:hover{
            background: #2c3034;
        }
    }
    &__sub-text{
        color: $color-theme;
        font-size: 15px;
        letter-spacing: 0.3px;
        transition: all .3s;
        &:hover{
            color: darken($color-theme, 15%);
        }
    }
    &__date{
        border-bottom: 2px solid $color-theme;
        font-size: 14px;
    }
}