.button{
    padding: 10px 20px;
    border-radius: 8px;
    &--blue{
        background: #0679a8;
        color: #fff;
        transition: all .3s;
        &:hover{
            background: darken(#0679a8, 10%);
        }
    }
}