.button{
    padding: 10px 20px;
    border-radius: 8px;
    &--blue{
        background: $color-theme;
        color: $color-white;
        transition: all .3s;
        &:hover{
            background: darken($color-theme, 10%);
        }
    }
}