.home-banner{
    padding: 50px 0;
    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include breakpoints(sm){
            flex-direction: column;
        }
    }
    &__image{
        @include media(max-w,991px){
            display: none;
        }
    }
    &__info{
        max-width: 600px;
        @include breakpoints(xs){
            text-align: center;
            max-width: 100%;
            padding: 0 30px;
        }
    }
    &__title{
        font-size: 30px;
        color: $color-theme;
        font-weight: 600;
        margin-bottom: 15px;
        text-shadow: $text-shadow;
    }
    &__sub-title{
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
        display: inline-block;
        border-bottom: 2px solid $color-theme;
        margin-bottom: 25px;
    }
    &__desc{
        line-height: 1.6;
        font-size: 18px;
    }
}