.skill-card{
    display: flex;
    align-items: center;
    height: 70px;
    margin:30px 0;
    &__image{
        filter: hue-rotate(0deg);
        cursor: pointer;
        width: 100%;
        transition: all .8s;
        @include breakpoints(xs){
            max-width: 200px;
            margin: 0 auto;
        }
        &:hover{
            filter: hue-rotate(240deg);
            transform: scale(1.3);
        }
    }
}