.social-box {
    display: flex;
    align-items: center;
    &__item {
        position: relative;
        top: 0;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        // background: $social-item-bg-color;
        background: lighten($color-bg, 4%);
        margin-right: 25px;
        box-shadow: $social-item-box-shadow;
        border-radius: 5px;
        transition: all 0.5s;
        &:hover {
            top: -5px;
            background: $color-theme;
        }
    }
    &__icon {
        font-size: 25px;
        color: $color-text;
    }
}
