.tabs{
    &__filter{
        .MuiButtonBase-root{
            background: lighten($color-bg, 4%);
            width: 100%;
            color: $color-text-light;
            font-weight: 600;
            border-radius: 9px;
            padding: 20px 0;
            margin: 0 7px;
        }
        .MuiButtonBase-root.Mui-selected{
            border: 0;
            color: $color-text-light;
            background: darken($color-bg, 8%);
        }
    }
}