.timeline{
    position: relative;
    border-left: 5px solid darken($color-bg, 10%);;
    padding-bottom: 50px;
    @include breakpoints(xs){
        border: 0;
    }
    
    &__h-line{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -65px;
        height: 5px;
        width: 70px;
        background: darken($color-bg, 10%);
        @include breakpoints(xs){
            display: none;
        }
    }
    .timeline__item{
        position: relative;
        background: darken($color-bg, 10%);
        padding: 25px 25px;
        border-radius: 10px;
        margin-left: 65px;
        @include breakpoints(xs){
            margin-left: 0;
            text-align: center;
        }
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: -82px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 5px solid darken($color-bg, 10%);
            background: $color-bg;
            z-index: 10;
            @include breakpoints(xs){
                display: none;
            }
        }
    }
    &__title{
        font-size: 24px;
        font-weight: 600;
        color: $color-text-light;
        margin-bottom: 20px;
    }
    &__subtitle{
        font-size: 18px;
        @include breakpoints(xs){
           margin-bottom: 10px;
        }
    }
    &__label{
        
    }
    &__description{
        margin-top: 20px;
        font-size: 15px;
        line-height: 1.4;
    }
    &__flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include breakpoints(xs){
            flex-direction: column;
        }
    }
}